<!DOCTYPE html>
<html lang="kr" dir="ltr">
<link rel="=icon" href="/img/favicon.png">
<link rel= "stylesheet" type="text/css" href="index.css">
  <head>
    <meta charset="utf-8">
    <title>Index</title>
  </head>
  <body onload="if(">
    <ul class="bar">
      <li class="bar-menu"><a href="schedule.ejs">일정표</a></li>
      <li class="bar-menu"><a href="participation.ejs">참가신청</a></li>
      <a href="index.ejs"><img src="GCMLOGO" style="width:110px; position:relative; left:35%"></a>
      <li class="login"style="float:right; list-style-type:none" >
        <% if(!log){ %>
            <a href="/login.html">로그인</a>
        <% } else { %>
            <a href="mypage.ejs" ><%= log%>님</a>
        <% } %>
      </li>
    </ul>

    <div class="calendar-container">
      <div class="vr"></div>

      <div class="timeline">
        <div class="entries">
          <div class="entry">
            <div class="title">4/26</div>
            <div class="body">
              <p>체육대회</p>
              <p>종목 : 피구, 농구, 계주, 사제 달리기, 줄다리기, 신서유기 게임, 노래 맞추기, 씨름, 축구 결승전, 팔씨름, 배드민턴, 멀리뛰기</p>
            </div>
          </div>
          <div class="entry">
            <div class="title">5/12</div>
            <div class="body">
              <p>Rerum sit libero possimus amet excepturi. Exercitationem enim dolores sunt praesentium dolorum praesentium.</p>
            </div>
          </div>
          <div class="entry">
            <div class="title">6/3</div>
            <div class="body">
              <p>e-sports 대회</p>
              <p>종목 : 고군분투, 카트라이더, 리그오브레전드, 오버워치, 크레이지 아케이드, 루미큐브, 하스스톤, 철권</p>
            </div>
          </div>
          <div class="entry">
            <div class="title">6/27</div>
            <div class="body">
              <p>남/녀 배드민턴 최강자전</p>
              <p>각 반에서 2번의 리그전과 토너먼트 전을 통하여 여자, 남자 총 4명씩을 선발한 후 학년 토너먼트 16강전을 한다. 최종 우승자에게는 상품이 수여된다.</p>
            </div>
          </div>
          <div class="entry">
            <div class="title big">7/11</div>
            <div class="body">
              <p>영어 팝송대회</p>
              <p>
                접수기간 : 5/1(수) ~ 5/17(금),
                참가 대상 : 1,2학년 학생 중 참가 희망 학생,
                대회 장소 : 강당,
                대회 날짜 : 7/11(목),
                결과 발표 및 시상 : 7/12(금)
              </p>
            </div>
          </div>
          <div class="entry">
            <div class="title">9/30</div>
            <div class="body">
              <p>Impedit dolorem commodi explicabo fugit aut alias voluptatem. Magnam earum rerum quae dicta quibusdam aliquam ut.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
