<!DOCTYPE html>
<html lang="kr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Schedule</title>
    <link rel="stylesheet" type="text/css" href="index.css">
    <link rel="stylesheet" type="text/css" href="schedule.css">
  </head>
  <body>
    <ul>
      <li class="now"><a href="schedule.ejs">일정표</a></li>
      <li><a href="match.ejs">대진표</a></li>
      <li><a href="participation.ejs">참가신청</a></li>
      <a href="index.ejs"><img src="GCMLOGO" style="width:110px; position:relative; left:30%"></a>
      <li style="float:right; list-style-type:none">
        <% if(!log){ %>
          <a href="/login.html">로그인</a>
        <% } else { %>
          <a href="mypage.ejs" ><%= log%>님</a>
        <% } %>
      </li>
    </ul>

    <div class="calendar-container">
      <div class="calendar-header">
        <h1>
           JULY
          <button>▾</button>
        </h1>
        <p>2019</p>
      </div>
      <div class="calendar"><span class="day-name">Mon</span><span class="day-name">Tue</span><span class="day-name">Wed</span><span class="day-name">Thu</span><span class="day-name">Fri</span><span class="day-name">Sat</span><span class="day-name">Sun</span>
        <div class="day">1</div>
        <div class="day">2</div>
        <div class="day">3</div>
        <div class="day">4</div>
        <div class="day">5</div>
        <div class="day">6</div>
        <div class="day">7</div>
        <div class="day">8</div>
        <div class="day">9</div>
        <div class="day">10</div>
        <div class="day">11</div>
        <div class="day">12</div>
        <div class="day">13</div>
        <div class="day">14</div>
        <div class="day">15</div>
        <div class="day">16</div>
        <div class="day">17</div>
        <div class="day">18</div>
        <div class="day">19</div>
        <div class="day">20</div>
        <div class="day">21</div>
        <div class="day">22</div>
        <div class="day">23</div>
        <div class="day">24</div>
        <div class="day">25</div>
        <div class="day">26</div>
        <div class="day">27</div>
        <div class="day">28</div>
        <div class="day">29</div>
        <div class="day">30</div>
        <div class="day">31</div>
        <div class="day day--disabled">1</div>
        <div class="day day--disabled">2</div>
        <div class="day day--disabled">3</div>
        <div class="day day--disabled">4</div>
        <section class="task task--fi">Finals</section>
        <section class="task task--te">NCS Test</section>
        <section class="task task--po">Popsong Festival
          <div class="task__detail">
            <b>7/11</b><p>Popsong Festival</p><br>
            <b>7/12</b><p>Awards</p>
          </div>
        </section>
        <section class="task task--ne">Network Project</section>
        <section class="task task--su">Summer Major Camp</section>
      </div>
    </div>
  </body>
</html>
